* {
    margin: 0; 
    padding: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
} 
.business-card {
    background-color: #ffffff;
    padding: 20px;
    width: 336px;
    height: 192px;
    border-radius: 10px;
    text-align: left;
    color: black;
    display: flex;
    justify-content: space-between;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
.designer {
    font-size: 10px;
    margin-left: 5px;
    color:  rgb(231, 144, 203);
    font-weight: 700;
}

.names {
    font-weight: 700;
    font-size: 14px;
    display: flex;
    gap: 5px;
    margin-left: 5px;
}

.name1 {
    color:rgb(63, 60, 60);
}

.name2 {
    color: gray;
} 

.paragraphs {
    margin-left: 5px;
    margin-top: 70px;
    font-size: 8px;
    font-weight: 700;
    color: rgb(63, 60, 60);
}   

.email {
    display: flex;
    gap: 5px;
}

.email-logo {
    width: 10px;
    height: 10px;
}

.phone {
    display: flex;
    gap: 5px;
} 

.phone-logo {
    width: 10px;
    height: 10px;
}

.location {
    display: flex;
    gap: 5px;
}

.location-logo {
    width: 10px;
    height: 10px;
}

.next {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid blue;
    width: 80px;
    height: 30px;
    color: black;
}
.next-button {
    background-color: #ffffff;
    color: black;
    border: 1px solid gray;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.card-rightside {
    width: 163px;
    height: 192px;
    margin-right: -20px;
    margin-top: -20px;
}

.shape {
    width: 163px;
    height: 192px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.logo-container {
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: -170px;
    margin-left: 50px;
}

.logo {
    width: 50px;
    height: 50px;
}

.company-name {
    font-size: 12px;
    font-weight: 700;
    color: rgb(231, 144, 203);
}

.words {
    font-size: 8px;
    margin-top: -3px;
    color: rgb(190, 152, 158);
}

.QR {
    width: 42px;
    height: 42px;
    margin-top: 30px;
}  